{
  "swagger": "2.0",
  "info": {
    "description": "renren-api模块接口文档",
    "version": "5.x",
    "title": "人人开源",
    "termsOfService": "https://www.renren.io"
  },
  "host": "testsmart.9jodia.net",
  "basePath": "/smart",
  "schemes": [],
  "consumes": [ "*/*" ],
  "produces": [ "*/*" ],
  "paths": {
    "/smart/api/dotpc/captcha": {
      "get": {
        "tags": [ "硬件-点阵屏PC接口" ],
        "summary": "1.图片验证码",
        "operationId": "captchaUsingGET",
        "produces": [ "*/*", "application/octet-stream" ],
        "parameters": [
          {
            "name": "uuid",
            "in": "query",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false,
        "x-order": "2147483647"
      }
    },
    "/smart/api/dotpc/register": {
      "post": {
        "tags": [ "硬件-点阵屏PC接口" ],
        "summary": "3.注册",
        "operationId": "registerUsingPOST",
        "consumes": [ "application/json" ],
        "produces": [ "*/*" ],
        "parameters": [
          {
            "in": "body",
            "name": "dto",
            "description": "dto",
            "required": true,
            "schema": {
              "originalRef": "registerReq",
              "$ref": "#/definitions/registerReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "originalRef": "registerRes",
              "$ref": "#/definitions/registerRes"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false,
        "x-order": "2147483647"
      }
    },
    "/smart/api/dotpc/logout": {
      "post": {
        "tags": [ "硬件-点阵屏PC接口" ],
        "summary": "5.退出",
        "operationId": "logoutUsingPOST",
        "consumes": [ "application/json" ],
        "produces": [ "*/*" ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "originalRef": "logoutRes",
              "$ref": "#/definitions/logoutRes"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false,
        "x-order": "2147483647"
      }
    },
    "/smart/api/dotpc/listdev": {
      "get": {
        "tags": [ "硬件-点阵屏PC接口" ],
        "summary": "6.获取设备列表",
        "operationId": "macListUsingGET",
        "produces": [ "*/*" ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "originalRef": "listdevRes",
              "$ref": "#/definitions/listdevRes"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false,
        "x-order": "2147483647"
      }
    },
    "/smart/api/dotpc/adddev": {
      "get": {
        "tags": [ "硬件-点阵屏PC接口" ],
        "summary": "7.绑定设备",
        "operationId": "addUsingGET",
        "produces": [ "*/*" ],
        "parameters": [
          {
            "name": "devNo",
            "in": "query",
            "description": "设备号",
            "required": false,
            "type": "string"
          },
          {
            "name": "name",
            "in": "query",
            "description": "设备命名",
            "required": false,
            "type": "string"
          },
          {
            "name": "type",
            "in": "query",
            "description": "类型--点阵屏：9",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "originalRef": "adddevRes",
              "$ref": "#/definitions/adddevRes"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false,
        "x-order": "2147483647"
      }
    },
    "/smart/api/dotpc/send/msg": {
      "post": {
        "tags": [ "硬件-点阵屏PC接口" ],
        "summary": "2.发送短信",
        "operationId": "sendMsgUsingPOST",
        "consumes": [ "application/json" ],
        "produces": [ "*/*" ],
        "parameters": [
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": {
              "originalRef": "SendMsgReq",
              "$ref": "#/definitions/SendMsgReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "originalRef": "SendMsgresRes",
              "$ref": "#/definitions/SendMsgresRes"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false,
        "x-order": "2147483647"
      }
    },
    "/smart/api/dotpc/deletefile": {
      "get": {
        "tags": [ "硬件-点阵屏PC接口" ],
        "summary": "10.删除资源",
        "operationId": "deleteUsingGET",
        "produces": [ "*/*" ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "id",
            "required": false,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "originalRef": "deletefileRes",
              "$ref": "#/definitions/deletefileRes"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false,
        "x-order": "2147483647"
      }
    },
    "/smart/api/dotpc/login": {
      "post": {
        "tags": [ "硬件-点阵屏PC接口" ],
        "summary": "4.登录",
        "operationId": "loginUsingPOST",
        "consumes": [ "application/json" ],
        "produces": [ "*/*" ],
        "parameters": [
          {
            "in": "body",
            "name": "dto",
            "description": "dto",
            "required": true,
            "schema": {
              "originalRef": "loginReq",
              "$ref": "#/definitions/loginReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "originalRef": "loginRes",
              "$ref": "#/definitions/loginRes"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false,
        "x-order": "2147483647"
      }
    },
    "/smart/api/dotpc/filelist": {
      "get": {
        "tags": [ "硬件-点阵屏PC接口" ],
        "summary": "9.获取设备资源列表",
        "operationId": "macListUsingGET",
        "produces": [ "*/*" ],
        "parameters": [
          {
            "name": "devId",
            "in": "query",
            "description": "设备Id",
            "required": false,
            "type": "string"
          },
          {
            "name": "type",
            "in": "query",
            "description": "类型：固定9",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "originalRef": "filelistRes",
              "$ref": "#/definitions/filelistRes"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false,
        "x-order": "2147483647"
      }
    },
    "/smart/api/dotpc/addfile": {
      "post": {
        "tags": [ "硬件-点阵屏PC接口" ],
        "summary": "10.上传文件",
        "operationId": "addUsingPOST",
        "consumes": [ "multipart/form-data" ],
        "produces": [ "*/*" ],
        "parameters": [
          {
            "name": "devId",
            "in": "formData",
            "description": "设备ID",
            "required": false,
            "type": "string"
          },
          {
            "name": "file",
            "in": "formData",
            "description": "文件",
            "required": true,
            "type": "file"
          },
          {
            "name": "fileName",
            "in": "formData",
            "description": "文件名称：1帧.json",
            "required": false,
            "type": "string"
          },
          {
            "name": "resName",
            "in": "formData",
            "description": "文件用途：开机动画",
            "required": false,
            "type": "string"
          },
          {
            "name": "type",
            "in": "formData",
            "description": "类型：固定：9",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "originalRef": "addfileRes",
              "$ref": "#/definitions/addfileRes"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false,
        "x-order": "2147483647"
      }
    },
    "/smart/api/dotpc/unbind": {
      "get": {
        "tags": [ "硬件-点阵屏PC接口" ],
        "summary": "8.解绑设备",
        "operationId": "unbindUsingGET",
        "produces": [ "*/*" ],
        "parameters": [
          {
            "name": "devId",
            "in": "query",
            "description": "devId",
            "required": false,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "originalRef": "unbindRes",
              "$ref": "#/definitions/unbindRes"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false,
        "x-order": "2147483647"
      }
    },
    "/smart/api/dotpc/modifyName": {
      "get": {
        "tags": [ "硬件-点阵屏PC接口" ],
        "summary": "7.1修改设备名称",
        "operationId": "modifyNameUsingGET",
        "produces": [ "*/*" ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "设备ID",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "name",
            "in": "query",
            "description": "名称",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "originalRef": "modifyNameRes",
              "$ref": "#/definitions/modifyNameRes"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false,
        "x-order": "2147483647"
      }
    },
    "/smart/api/dotpc/transferGif": {
      "get": {
        "tags": [
          "硬件-点阵屏PC接口"
        ],
        "summary": "13.文字转gif",
        "operationId": "transferGifUsingGET_1",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "height",
            "in": "query",
            "description": "绘画一个字的高度",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "size",
            "in": "query",
            "description": "字体像素，通常比绘画的-2",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "text",
            "in": "query",
            "description": "文字",
            "required": false,
            "type": "string"
          },
          {
            "name": "width",
            "in": "query",
            "description": "绘画一个字的宽度",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "originalRef": "响应",
              "$ref": "#/definitions/响应"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false,
        "x-order": "2147483647"
      }
    },
    "/smart/api/dotpc/modifyFile": {
      "post": {
        "tags": [ "硬件-点阵屏PC接口" ],
        "summary": "11.修改文件",
        "operationId": "modifyUsingPOST",
        "consumes": [ "multipart/form-data" ],
        "produces": [ "*/*" ],
        "parameters": [
          {
            "name": "devId",
            "in": "query",
            "description": "设备ID",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "file",
            "in": "query",
            "description": "文件",
            "required": false,
            "type": "ref"
          },
          {
            "name": "fileName",
            "in": "query",
            "description": "文件名称：1帧.json",
            "required": false,
            "type": "string"
          },
          {
            "name": "id",
            "in": "query",
            "description": "资源ID",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "resName",
            "in": "query",
            "description": "文件用途：开机动画",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "originalRef": "modifyFileRes",
              "$ref": "#/definitions/modifyFileRes"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false,
        "x-order": "2147483647"
      }
    }
  },
  "definitions": {
    "modifyFileRes": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "编码：0表示成功，其他值表示失败"
        },
        "data": {
          "type": "object",
          "description": "响应数据"
        },
        "msg": {
          "type": "string",
          "description": "消息内容"
        }
      },
      "title": "响应"
    },
    "transferGifRes": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "编码：0表示成功，其他值表示失败"
        },
        "data": {
          "type": "object",
          "description": "响应数据"
        },
        "msg": {
          "type": "string",
          "description": "消息内容"
        }
      },
      "title": "响应"
    },
    "modifyNameRes": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "编码：0表示成功，其他值表示失败"
        },
        "data": {
          "type": "object",
          "description": "响应数据"
        },
        "msg": {
          "type": "string",
          "description": "消息内容"
        }
      },
      "title": "响应"
    },
    "registerReq": {
      "type": "object",
      "properties": {
        "mobile": {
          "type": "string",
          "description": "手机号",
          "refType": null
        },
        "msgCode": {
          "type": "string",
          "description": "短信验证码",
          "refType": null
        },
        "password": {
          "type": "string",
          "description": "密码",
          "refType": null
        },
        "rePassword": {
          "type": "string",
          "description": "确认密码密码",
          "refType": null
        }
      },
      "title": "注册表单"
    },
    "registerRes": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "编码：0表示成功，其他值表示失败"
        },
        "data": {
          "type": "object",
          "description": "响应数据"
        },
        "msg": {
          "type": "string",
          "description": "消息内容"
        }
      },
      "title": "响应"
    },
    "logoutRes": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "编码：0表示成功，其他值表示失败"
        },
        "data": {
          "type": "object",
          "description": "响应数据"
        },
        "msg": {
          "type": "string",
          "description": "消息内容"
        }
      },
      "title": "响应"
    },
    "listdevRes": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "编码：0表示成功，其他值表示失败"
        },
        "data": {
          "type": "array",
          "description": "响应数据",
          "items": {
            "originalRef": "deviceInfo",
            "$ref": "#/definitions/deviceInfo"
          }
        },
        "msg": {
          "type": "string",
          "description": "消息内容"
        }
      },
      "title": "响应«List«deviceInfo»»_1"
    },
    "deviceInfo": {
      "type": "object",
      "properties": {
        "blueNo": {
          "type": "string",
          "description": "蓝牙信息",
          "refType": null
        },
        "createDate": {
          "type": "string",
          "description": "创建时间",
          "refType": null
        },
        "devNo": {
          "type": "string",
          "description": "设备号",
          "refType": null
        },
        "id": {
          "type": "integer",
          "format": "int64",
          "description": "设备ID",
          "refType": null
        },
        "name": {
          "type": "string",
          "description": "设备命名",
          "refType": null
        },
        "onLine": {
          "type": "boolean",
          "description": "是否在线：true ； false",
          "refType": null
        },
        "onWinkOut": {
          "type": "boolean",
          "description": "是否亮屏：true ； false",
          "refType": null
        },
        "status": {
          "type": "integer",
          "format": "int32",
          "description": "状态 1：正常 2：解绑",
          "refType": null
        },
        "type": {
          "type": "string",
          "description": "类型--前端上传",
          "refType": null
        },
        "userId": {
          "type": "integer",
          "format": "int64",
          "description": "用户ID",
          "refType": null
        },
        "weatherAddress": {
          "type": "string",
          "description": "天气地址：地址#locationId",
          "refType": null
        }
      },
      "title": "九点设备信息_1"
    },
    "adddevRes": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "编码：0表示成功，其他值表示失败"
        },
        "data": {
          "type": "object",
          "description": "响应数据"
        },
        "msg": {
          "type": "string",
          "description": "消息内容"
        }
      },
      "title": "响应"
    },
    "SendMsgReq": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string",
          "description": "图片验证码",
          "refType": null
        },
        "mobile": {
          "type": "string",
          "description": "手机号",
          "refType": null
        },
        "uuid": {
          "type": "string",
          "description": "图片验证码UUID",
          "refType": null
        }
      },
      "title": "SendMsgReq"
    },
    "SendMsgresRes": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "编码：0表示成功，其他值表示失败"
        },
        "msg": {
          "type": "string",
          "description": "消息内容"
        }
      },
      "title": "响应«Void»"
    },
    "deletefileRes": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "编码：0表示成功，其他值表示失败"
        },
        "data": {
          "type": "object",
          "description": "响应数据"
        },
        "msg": {
          "type": "string",
          "description": "消息内容"
        }
      },
      "title": "响应"
    },
    "loginReq": {
      "type": "object",
      "properties": {
        "mobile": {
          "type": "string",
          "description": "手机号,密码或者验证码选其一登陆",
          "refType": null
        },
        "msgCode": {
          "type": "string",
          "description": "验证码",
          "refType": null
        },
        "password": {
          "type": "string",
          "description": "密码",
          "refType": null
        }
      },
      "title": "登录表单"
    },
    "loginRes": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "编码：0表示成功，其他值表示失败"
        },
        "data": {
          "type": "object",
          "description": "响应数据"
        },
        "msg": {
          "type": "string",
          "description": "消息内容"
        }
      },
      "title": "响应«Map«string,object»»"
    },
    "filelistRes": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "编码：0表示成功，其他值表示失败"
        },
        "data": {
          "type": "array",
          "description": "响应数据",
          "items": {
            "originalRef": "UserInfo",
            "$ref": "#/definitions/UserInfo"
          }
        },
        "msg": {
          "type": "string",
          "description": "消息内容"
        }
      },
      "title": "响应«List«九点用户资源»»"
    },
    "UserInfo": {
      "type": "object",
      "properties": {
        "createDate": {
          "type": "string",
          "description": "创建时间",
          "refType": null
        },
        "fileName": {
          "type": "string",
          "description": "文件名称：1帧.json",
          "refType": null
        },
        "id": {
          "type": "integer",
          "format": "int64",
          "description": "ID",
          "refType": null
        },
        "resName": {
          "type": "string",
          "description": "文件用途：开机动画",
          "refType": null
        },
        "status": {
          "type": "integer",
          "format": "int32",
          "description": "状态 1：正常 2：解绑",
          "refType": null
        },
        "transUrl": {
          "type": "string",
          "description": "转化后地址",
          "refType": null
        },
        "transUrl1": {
          "type": "string",
          "description": "转化后地址1",
          "refType": null
        },
        "url": {
          "type": "string",
          "description": "链接",
          "refType": null
        },
        "userId": {
          "type": "integer",
          "format": "int64",
          "description": "用户ID",
          "refType": null
        }
      },
      "title": "九点用户资源"
    },
    "addfileRes": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "编码：0表示成功，其他值表示失败"
        },
        "data": {
          "type": "object",
          "description": "响应数据"
        },
        "msg": {
          "type": "string",
          "description": "消息内容"
        }
      },
      "title": "响应"
    },
    "unbindRes": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "编码：0表示成功，其他值表示失败"
        },
        "data": {
          "type": "object",
          "description": "响应数据"
        },
        "msg": {
          "type": "string",
          "description": "消息内容"
        }
      },
      "title": "响应"
    }
  }
}
